body {
  background-color: #f8FEFF;
  font-family: 'Play', sans-serif;
}
/*****************************************************
* Main divs that divide the page into three columns  *
******************************************************/
#container {
  width:980px;
  padding:10px;
  background-color:#f8FEFF;
  height: 600px;
  margin:auto;
}

#left {
  float: left;
  width:245px;
  background-color:#f8FEFF;
  height: 593px;
  padding-right: 20px;
  padding-left:20px;
  padding-top:15px;
}

#center {
  float:left;
  width: 490px;
  display: inline-block; width: 33%;
  background-color:#b2bfbf;
  padding-right: 20px;
  padding-left:20px;
  padding-top:15px;
  margin-top:20px;
  border-radius:20px;
}

#right {
  float: left;
  width:245px;
  background-color: #f8FEFF;
  height: 593px;
  padding-right: 20px;
  padding-left:20px;
  padding-top:15px;
}
/*****************************************************
* Buttons, Headers & other odds and ends             *
******************************************************/

header {
  text-align:center;
  padding: 1px 20px;
  margin: 0px 30px -30px 0px;
}

button {
  padding: 15px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top:20px;
  border-radius:5px;
  min-width:100px;
}

h2 {
  font-size: 0.8em;
  background-color:#b2bfbf;
  margin-top:100px;
  max-width: 150px;
  padding: 10px;
  border-radius:10px;
}
/*****************************************************
* Game Board                                         *
******************************************************/
td {
  padding: 15px;
  border:none;
}

#codeToBreak {
  color: white;
  background-color: #718589;
}

table {
  margin: -2px 0px 10px -8px;
}

tr {
  border: 1px solid #e7feff;
  border-radius:50%;
}

tr div {
  border: 1px solid #1d292c;
  width: 20px;
  height:20px;
  background-color: #1d292c;
  border-radius: 100%;
}
tr div:hover {
  background-color:white;
}

#ccwp {
  color:white;
}
#peg-box{
  margin-left:50px;
  margin-right:50px;
  border: 1px solid black;
  background-color: #718589;
  padding-bottom: 10px;
  margin-top: 50px;
  border-radius:20px;
}

#peg-box div {
  border: 1px solid black;
  width: 20px;
  height:20px;
  border-radius: 100%;
  margin-top: 20px;
  margin-left: 59px;
}
/*#peg-box div:hover {
   background-color:white;
}*/
/*****************************************************
* Pegs                                               *
******************************************************/

#red {
    background-color: #ff3737;
}

#orange {
  background-color: #ff9337;
}

#yellow {
  background-color: #fff169;
}

#green {
  background-color: #4fbf8f;
}

#blue {
  background-color: #6de3ff ;
}

#violet {
   background-color: #91689f ;
}

#blank{
  background-color: #1d292c ;
}
