body {
  background-color: #f8FEFF;
  font-family: 'Play', sans-serif;
}
/*****************************************************
* Main divs that divide the page into three columns  *
******************************************************/
#container {
  width:980px;
  padding:10px;
  background-color:#f8FEFF;
  height: 600px;
  margin:auto;
}

#left {
  float: left;
  width:210px;
  background-color:#f8FEFF;
  height: 593px;
  padding-right: 20px;
  padding-left:20px;
  padding-top:15px;
}

#center {
  float:left;
  width: 560px;
  display: inline-block; width: 33%;
  background-color:#b2bfbf;
  padding-right: 20px;
  padding-left:20px;
  padding-top:15px;
  margin-top:20px;
  border-radius:20px;
}

#right {
  float: left;
  width:210px;
  background-color: #f8FEFF;
  height: 593px;
  padding-right: 20px;
  padding-left:20px;
  padding-top:15px;
}
/*****************************************************
* Buttons, Headers & other odds and ends             *
******************************************************/

header {
  text-align:center;
  padding: 1px 20px;
  margin: 0px 30px -30px 0px;
}

button {
  padding: 15px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top:20px;
  border-radius:5px;
  min-width:100px;
}

h2 {
  font-size: 0.8em;
  background-color:#b2bfbf;
  margin-top:50px;
  max-width: 150px;
  padding: 10px;
  border-radius:10px;
}

p {
  text-align: justify;
}
/*****************************************************
* Game Board                                         *
******************************************************/
td {
  padding: 8px;
  border:none;
}

#codeToBreak {
  color: white;
  background-color: #718589;
}

table {
  table-layout:fixed;
  margin: -2px 0px 10px -8px;
  border: 1px solid #e7feff;
}

tr {
  border: 1px solid #e7feff;
  border-radius:50%;
}

td {
  height: 25px;
  width: 150px;
}

tr div {
  border: 1px solid #1d292c;
  width: 20px;
  height:20px;
  background-color: #1d292c;
  border-radius: 100%;
}
tr div:hover {
  /*opacity: 0.9;*/
}

tr div:active {

  opacity: 0.1;
}

.ccwp {
  color:white;
}
#ccwp{
  color:white;
}

.cccp {

}

#peg-box{
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid black;
  background-color: #718589;
  padding-bottom: 10px;
  margin-top: 50px;
  border-radius: 20px;
}

#peg-box div {
  border: 1px solid black;
  width: 20px;
  height:20px;
  border-radius: 100%;
  margin-top: 20px;
  margin-left: 41px;
  /*cursor: pointer;*/
   cursor:pointer;
}

.select:hover {
   background-color:white;
}

.submit {
  background-color:#718589;
  color:white;
  font-size: 0.4em;
  padding:2px 0px;
  margin: 1px -10px 1px -1px;
  border-radius:100px;
  min-width:50px;
  text-align:center;
  cursor:pointer;

}
/*#submit {
  background-color:#718589;
  color:white;
  font-size: 0.4em;
  padding:2px 0px;
  margin: 1px -10px 1px -1px;
  border-radius:100px;
  min-width:50px;
  text-align:center;

}*/
/*****************************************************
* Pegs                                               *
******************************************************/

.red {
    background-color: #ff6363;

}

.red:hover {
 cursor:url(../images/clear-day.png), auto;
}


.orange {
  background-color: #ff9347;
}

.yellow {
  background-color: #fff169;
}

.green {
  background-color: #4fbf8f;
}

.blue {
  background-color: #0f4da8 ;
}

.violet {
   background-color: #91689f ;
}

.blank{
  background-color: #1d292c ;
}

#peg-select.red {
    background-color: #f00;
    border-color: white;
    border-style: dotted;

}

#peg-select.orange {
  background-color: #ff9400;
  border-color: white;
  border-style: dotted;
}

#peg-select.yellow {
  background-color: #ff0;
  border-color: white;
  border-style: dotted;
}

#peg-select.green {
  background-color: #66ff00;
  border-color: white;
  border-style: dotted;
}

#peg-select.blue {
  background-color: #00f;
  border-color: white;
  border-style: dotted;
}

#peg-select.violet {
  background-color: #f0f;
  border-color: white;
  border-style: dotted;
}

#peg-select.blank {
  background-color: #f00;
  border-color: white;
  border-style: dotted;
}
